@model Cozastore.Models.Categoria
@{
    ViewData["Title"] = "Categorias";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Categoria</h1>
<h4>Editar</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" method="POST" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group mb-3">
                <label asp-for="Nome" class="control-label"></label>
                <input asp-for="Nome" class="form-control" />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
            <div class="form-group form-check mb-3">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Filtrar" /> @Html.DisplayNameFor(model => model.Filtrar)
                </label>
            </div>
            <div class="form-group form-check mb-3">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Banner" /> @Html.DisplayNameFor(model => model.Banner)
                </label>
            </div>
            <div class="form-group mb-3">
                <label asp-for="CategoriaMaeId" class="control-label"></label>
                <select asp-for="CategoriaMaeId" class="form-control" asp-items="ViewBag.CategoriaMaeId">
                    <option value="">Selecione uma Categoria Mãe</option></select>
                <span asp-validation-for="CategoriaMaeId" class="text-danger"></span>
            </div>
            <div class="form-group mb-3 mb-3">
                <label asp-for="Foto" class="control-label"></label>
                <img src="@Model.Foto" id="Preview" class="img-fluid w-100" />
                <input type="hidden" asp-for="Foto" />
                <input type="file" id="NovaFoto" name="NovaFoto" class="form-control" accept=".jpg,.jpeg,.png,.gif,.jfif" />
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    <script>
        window.addEventListener('load', function() {
            document.querySelector('input[type=file]')
            .addEventListener('change', function() {
                if (this.files && this.files[0]) {
                    var img = document.getElementById('Preview');
                    img.src = URL.createObjectURL(this.files[0]);
                }
            });
        });

    </script>
}